@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Fredoka', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #e0def4;
  background-color: #191724;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  font-weight: 600;
}

h2 {
  font-size: 1.4em;
  line-height: 1.1;
  font-weight: 500;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.8em;
  }
  h2 {
    font-size: 1.6em;
  }
}
